
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link type="text/css" href="styles.css" rel="stylesheet" />
<h2>Welcome to the TVWC Documents Page</h2>
<p>This page was created to provide a place to upload documents you may want to discuss or cite.</p>
<title>June 2013</title>
</head><h3> TVWC Events Calendar</h3>
<body>
<div id="container">
<b class="rtop"><b class="r1"></b> <b class="r2"></b><b class="r3"></b> <b class="r4"></b></b>
<h1>June 2013</h1>
<table id="month">
 <thead>
 <tr>
 <th class="weekend">Sunday</th>
 <th>Monday</th>
 <th>Tuesday</th>
 <th>Wednesday</th>
 <th>Thursday</th>
 <th>Friday</th>
 <th class="weekend">Saturday</th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td class="weekend previous"><span class="date">28</span><div class="day"></div></td>
 <td class="previous"><span class="date">29</span><div class="day"></div></td>
 <td class="previous"><span class="date">30</span><div class="day"></div></td>
 <td class="previous"><span class="date">31</span><div class="day"></div></td>
 <td><span class="date">1</span><div class="day"></div></td>
 <td><span class="date">2</span><div class="day"></div></td>
 <td class="weekend"><span class="date">3</span><div class="day"></div></td>
 </tr>
 <tr>
 <td class="weekend"><span class="date">4</span><div class="day"></div></td>
 <td><span class="date">5</span><div class="day"></div></td>
 <td><span class="date">6</span><div class="day"></div></td>
 <td><span class="date">7</span><div class="day"></div></td>
 <td><span class="date">8</span><div class="day"></div></td>
 <td><span class="date">9</span><div class="day"></div></td>
 <td class="weekend"><span class="date">10</span><div class="day"></div></td>
 </tr>
 <tr>
 <td class="weekend"><span class="date">11</span><div class="day"></div></td>
 <td><span class="date">12</span><div class="day"></div></td>
 <td><span class="date">13</span><div class="day"></div></td>
 <td><span class="date">14</span><div class="day"><p></p></div></td>
 <td><span class="date">15</span><div class="day"><p><strong></strong><br /></p><p><p><strong></p></div></td>

 <td><span class="date">16</span><div class="day"></div></td>
 <td class="weekend"><span class="date">17</span><div class="day"></div></td>
 </tr>
 <tr>
 <td class="weekend"><span class="date">18</span><div class="day"><p><strong>Public Meeting </strong>re: Kings Forest Development 3pm South Tweed Sports Club<p>
Tuesday 18th</div></td>
 <td><span class="date">19</span><div class="day"></div></td>
 <td><span class="date">20</span><div class="day"></div></td>
 <td><span class="date">21</span><div class="day"></div></td>
 <td><span class="date">22</span><div class="day"></div></td>
 <td><span class="date">23</span><div class="day"><p><strong>CSG Free Ballina Shire Movie Night Fundraiser <strong>6:30pm ‘The Economics of Happiness’ For more details <p></div></td>
 <td class="weekend"><span class="date">24</span><div class="day"></div></td>
 </tr>
 <tr>
 <td class="weekend"><span class="date">25</span><div class="day"></div></td>
 <td><span class="date">26</span><div class="day"></div></td>
 <td><span class="date">27</span><div class="day"></div></td>
 <td><span class="date">28</span><div class="day"></div></td>
 <td class="next"><span class="date">1</span><div class="day"></div></td>
 <td class="next"><span class="date">2</span><div class="day"></div></td>
 <td class="weekend next"><span class="date">3</span><div class="day"></div></td>
 </tr>
 </tbody>
</table>
</div>
</body>
</html>