<% if user_signed_in? %>
<h3> You have successfully logged in!</h3>
<% else %>

<p><%= link_to "TVWC Public Website", "http://tvwc.org.au" %>
      <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-success" %>
    </p>
   
   
	<div class="hero-unit">
	<h3> Welcome to the TVWC Committee Member's Private Site!</h3>
	<h4> TVWC committee members can use this website to discuss TVWC issues, make suggestions and keep track of ongoing matters. It will hopefully assist in maintaining records and make it easier for committee members to keep up to date with what is going on. 
	If this site is successful we can expand it to include a member's version with a section for phonies where rosters can be posted and communication between phonies and cordinaters can be streamlined. <br/>

 A links page will contain links to sites relevant to TVWC similar to our links page on the public site. Eventually users will be able to add links to this page.
 
 A documents page will allow the upload of documents for reference so that users can conveniently cite from the docs page in posts.</h4>
	<br/>
		
  </div>
  <% end %>
