
<h2> You are logged into the TVWC Blog </h2>

	<div class="hero-unit">
	<h1> Welcome to the TVWC Members Blog!</h1> <br/>
<%= link_to "TVWC Public Website", "http://tvwc.org.au" %>
	
	<br/>
		<p>
      <%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
    </p>
  </div>
